.date-picker {
  display: flex;
}

.date-picker-wrapper {
  position: relative;
}

.react-datepicker-wrapper.date-picker {
  display: block;
}

.date-picker
  .react-datepicker__input-container
  .react-datepicker__calendar-icon {
  position: absolute;
  right: 0;
  top: 3px;
  font-size: 15px;
  right: 5px;
}

.date-picker .react-datepicker__view-calendar-icon input {
  padding: 10px;
  padding-left: 8px;
}

.date-picker .react-datepicker__view-calendar-icon input::placeholder {
  color: #cfcfcf;
}
