.PhoneInput {
  gap: 10px;
}

.PhoneInputCountrySelectArrow {
  margin-left: 12px;
}

.PhoneInputCountry {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #e9e9e9;
  padding: 0 9px;
}

.PhoneInputInput {
  flex: 1 auto;
}
