.back-button-wrapper {
  height: 30px;
  margin-bottom: 20px;
}

.back-button {
  background: none;
  border: none;
  /* display: inline-block; */
  text-align: left;
  position: relative;
  font-size: 16px;
  padding: 0;
  padding-left: 35px;
  padding-top: 4px;
  font-weight: 400;
  letter-spacing: 1px;
}

.back-button:active,
.back-button:hover,
.back-button:focus {
  cursor: pointer;
  color: #7657bf;
}

.back-button__icon {
  border: none;
  background: none;
  position: absolute;
  top: -10px;
  left: 0;
  transform: translateY(50%);
}
