:root {
  background: white;
  color: #1b1b1b;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

h1 {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.error-text {
  color: red;
}

.error-border {
  border: 1px solid red;
}

input {
  outline: none;
}
